@media only screen and (max-width: 1100px) and (min-width: 951px) {
  table {
    width: 100%;
    font-size: 13px;
  }
}

@media only screen and (max-width: 950px) and (min-width: 841px) {
  table {
    width: 100%;
    font-size: 11px;
  }
}

@media only screen and (max-width: 840px) and (min-width: 769px) {
  table {
    width: 100%;
    font-size: 9px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  table {
    width: 100%;
    font-size: 13px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 0px) {
  #brand {
    width: 50%;
    margin: auto;
    padding: 2%;
  }
  #myTable {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 10px;
  }
  #myInfo {
    padding-left: 0;
    padding-right: 0;
  }
  .page {
    height: unset;
  }
  .mainContent {
    height: unset;
  }
  .newsBar {
    height: unset;
  }
  footer {
    height: unset;
  }
  .bord {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 375px) and (min-width: 0px) {
  table {
    width: 100%;
    font-size: 8px;
  }
  #medTable {
    padding: 20px 10px 20px 10px;
  }
  footer {
    font-size: 13px;
  }
}

